[submodule "chofer_torchex"]
	path = chofer_torchex
	url = https://github.com/c-hofer/chofer_torchex.git
[submodule "tda-toolkit"]
	path = tda-toolkit
	url = https://github.com/c-hofer/tda-toolkit.git
